@using System.Globalization;

<div class="alert alert-secondary mt-4">

    @if (string.IsNullOrEmpty(this.Title))
    {
        <span class="oi oi-close me-2" aria-hidden="true"></span>


        <span class="text-nowrap">
            Es bringt noch 
            <strong>@Title</strong>
            Gipfeli! 😞
        </span>
    }
    else
    {
        <span class="oi oi-checkmark me-2" aria-hidden="true"></span>


        <span class="text-nowrap">
            Gipfeli bringt 
            <strong>@Title</strong>
            😊
        </span>
    }

</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
